/* HEADER --------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.875);
  overflow: auto;
  position: fixed;
  width: 100%;
  margin-right: 50px;
}

.right-links,
.left-links {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 2px;
  align-items: center;
  margin-right: 10px;
}
.left-links {
  gap: 8px;
  font-weight: 800;
  font-size: 28px;
}

.right-links {
  gap: 15px;
  font-size: 20px;
}

a:hover {
  text-shadow: 0 0 5px rgb(59, 210, 230), 0 0 12px rgb(59, 210, 230),
    0 0 20px rgb(59, 210, 230);
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.combine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* HEADER --------------------------------------------*/

/* FIRSTCONTAINERWALLPAPER --------------------------------------------*/

.firstContainer {
  background: url(https://github.com/SomeCoolName1/AyabeAppreciation/blob/main/Images/tracenAcademy.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 900px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

/* FIRSTCONTAINERWALLPAPER --------------------------------------------*/

/* FIRSTCONTENT --------------------------------------------*/
.firstContent {
  display: flex;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 50px;
  gap: 100px;
  position: relative;
}

.firstCard {
  text-align: center;
  font-size: 18px;
}

.firstTitle {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 24px;
}

.firstContentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.donateButton {
  margin-top: 30px;
  align-items: center;
  background: rgb(50, 106, 182);
  border-radius: 15px;
  border-color: white;
  display: flex;
  border: 100px;
  font-weight: 700;
  padding: 5px;
}

.donateSubText {
  font-size: 12px;
}

.ayabeProfiles {
  display: flex;
}
/* FIRSTCONTENT --------------------------------------------*/
/* SECONDCONTENT --------------------------------------------*/

.secondContent {
  display: flex;
  background: rgb(50, 106, 182);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  flex-direction: column;
}

.secondTitle {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 32px;
  text-align: center;
}

.reasonsBoxes {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.ult,
.run,
.victory,
.dance {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 16px;
}

.AyabeGif {
  border-radius: 10px;
  border: 10px solid white;
}

/* SECONDCONTENT --------------------------------------------*/
/* THIRDCONTENT --------------------------------------------*/

.thirdContent {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://github.com/SomeCoolName1/AyabeAppreciation/blob/main/Images/third.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
}

.thirdTitle {
  justify-content: center;
  color: white;
  border-radius: 5px;
  padding: 3px;
}

.thirdText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: 800;
}

/* THIRDCONTENT --------------------------------------------*/
/* FOURCONTENT --------------------------------------------*/

.fourthContent {
  background: rgb(50, 106, 182);
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.fourthBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  width: 500px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}
.fourthText {
  color: white;
  display: flex;
  flex-direction: column;
}

.fourthButton {
  border: 2px solid rgb(50, 106, 182);
  padding: 5px;
  border-radius: 5px;
}

/* FOURCONTENT --------------------------------------------*/

/* FOOTER --------------------------------------------*/
.footer {
  background: #1f2937;
  color: white;
  display: flex;
  justify-content: center;

  padding: 5px;
}

/* FOOTER --------------------------------------------*/

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}
