.header {
    display: flex;
    justify-content: space-between;
}

.right-links, .left-links {
    display:flex;
    flex-direction: row;
    background: blue;
    color: white;
    margin: 5px;

}

ul {
    list-style-type: none;
    
}